APP_ENV=testing
APP_DEPLOYMENT_ENV=testing
APP_DEBUG=true
APP_TIME_TRAVEL_ENABLED=true
OFFSITE_BACKUP_MONITOR_ENABLED=false

REPORT_PDF_FONT_REGULAR_PATH=/usr/local/share/fonts/gn-system/GNSystemCJK-Regular.ttf
REPORT_PDF_FONT_BOLD_PATH=/usr/local/share/fonts/gn-system/GNSystemCJK-Bold.ttf

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=gn_system_test
DB_USERNAME=gn_system
